body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}
.container {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffeff7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2, h3 {
    color: #414040;
}
p {
    line-height: 1.6;
}
img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}